@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rubik:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px; }

h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
  text-align: center;
  empty-cells: show;
  margin: 3rem 0; }

h1 {
  font-size: 5rem;
  font-weight: bold; }
  h1 span {
    font-size: 3.5rem;
    font-family: "Rubik", sans-serif;
    font-weight: lighter; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.25rem; }

h4 {
  font-size: 1.9rem; }

p,
a,
input,
label,
textarea,
strong,
th,
td {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  line-height: 2; }

.fondo-titulo {
  background-color: #FADF7F;
  padding: 2rem; }
  .fondo-titulo h1 {
    margin: 0 auto; }

.borde {
  border: 1px solid #000000;
  margin: 1rem;
  padding: .5rem 2rem;
  display: inline; }
