@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rubik:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px; }

.btn {
  font-size: 1.6rem;
  transition: all .3s ease-in-out; }

.btn-primary {
  background-color: #009FB7;
  border: 1px solid #009FB7; }
  .btn-primary:hover {
    background-color: #1F363D;
    border: 1px solid #1F363D; }

.toastify.on {
  font-size: 1.6rem; }

.swal2-title {
  font-size: 3rem; }

.swal2-container {
  background-color: #FADF7F; }
  .swal2-container .swal2-confirm.swal2-styled {
    background-color: #009FB7; }
  .swal2-container .swal2-cancel {
    font-size: 1.5rem; }
  .swal2-container .swal2-input-label {
    padding: 0 2rem; }

.swal2-confirm.swal2-styled,
.swal2-deny.swal2-styled {
  font-size: 1.5rem;
  min-width: 6rem; }

#swal2-html-container {
  font-size: 1.6rem; }

h1,
h2,
h3 {
  font-family: "Rubik", sans-serif;
  text-align: center;
  empty-cells: show;
  margin: 3rem 0; }

h1 {
  font-size: 5rem;
  font-weight: bold; }
  h1 span {
    font-size: 3.5rem;
    font-family: "Rubik", sans-serif;
    font-weight: lighter; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.25rem; }

h4 {
  font-size: 1.9rem; }

p,
a,
input,
label,
textarea,
strong,
th,
td {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  line-height: 2; }

.fondo-titulo {
  background-color: #FADF7F;
  padding: 2rem; }
  .fondo-titulo h1 {
    margin: 0 auto; }

.ticker-busqueda {
  border: 1px solid #009FB7;
  padding: .5rem 2rem;
  margin-bottom: 2rem;
  display: inline;
  background-color: #ffffff;
  border-radius: 1rem;
  cursor: pointer;
  transition: all .3s ease-in-out; }
  .ticker-busqueda:hover {
    background-color: #009FB7; }

.barra-de-busqueda {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin: 2rem 0; }
  .barra-de-busqueda input {
    border-radius: 1rem;
    border: 1px solid #3d3d3d; }
    .barra-de-busqueda input::placeholder {
      padding-left: 1rem; }

.table .table__th {
  display: flex;
  gap: 1rem;
  font-size: 1.6rem;
  align-items: center; }

.table .table__th.th-eliminar,
.table .table__th.th-actualizar {
  display: flex;
  justify-content: center; }

.boton-td {
  margin: 0 auto;
  text-align: center; }

.fa-trash,
.fa-rotate-right {
  font-size: 3rem;
  cursor: pointer;
  transition: all .3s ease-in-out; }

.fa-trash {
  color: #d61d16; }
  .fa-trash:hover {
    color: #8a130f; }

.fa-rotate-right {
  color: #009FB7; }
  .fa-rotate-right:hover {
    color: #1F363D; }

.total-cartera {
  display: flex;
  justify-content: end; }
  .total-cartera .total-cartera__texto {
    border: 1px solid #009FB7;
    border-radius: 1rem;
    padding: .5rem 2rem; }

.fa-solid {
  cursor: pointer; }

.footer {
  background-color: #FADF7F;
  padding: 2rem; }
  .footer .contenedor-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem; }
    .footer .contenedor-footer h3 {
      margin: 0; }
    .footer .contenedor-footer a {
      text-decoration: none;
      color: #ffffff;
      background-color: #009FB7;
      padding: .5rem 2rem;
      border-radius: 1rem;
      border: 1px solid #1F363D;
      transition: all .3s ease-in-out; }
      .footer .contenedor-footer a:hover {
        background-color: #1F363D;
        border: 1px solid #D9B26F; }
