.fondo-titulo {
    background-color: $primario;
    padding: 2rem;

    h1 {
        margin: 0 auto;
    }
}

.borde {
    border: 1px solid $negro;
    margin: 1rem;
    padding: .5rem 2rem;
    display: inline;
}