.fondo-titulo {
    background-color: $primario;
    padding: 2rem;

    h1 {
        margin: 0 auto;
    }
}

.ticker-busqueda {
    border: 1px solid $secundario;
    padding: .5rem 2rem;
    margin-bottom: 2rem;
    display: inline;
    background-color: $blanco;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $secundario;
    }
}

.barra-de-busqueda {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin: 2rem 0;

    input {
        border-radius: 1rem;
        border: 1px solid $grisOscuro;

        &::placeholder {
            padding-left: 1rem;
        }
    }
}

.table {

    .th-eliminar,
    .th-actualizar {
        text-align: center;
    }

}

.boton-td {
    margin: 0 auto;
    text-align: center;

    .fa-trash {
        color: $eliminar;
        transition: all .3s ease-in-out;

        &:hover {
            color: $eliminarOscuro;
        }
    }

    .fa-rotate-right {
        color: $secundario;
        transition: all .3s ease-in-out;

        &:hover {
            color: $secundarioOscuro;
        }
    }

    i {
        font-size: 3rem;
        cursor: pointer;
    }
}