.fondo-titulo {
    background-color: $primario;
    padding: 2rem;

    h1 {
        margin: 0 auto;
    }
}

.ticker-busqueda {
    border: 1px solid $secundario;
    padding: .5rem 2rem;
    margin-bottom: 2rem;
    display: inline;
    background-color: $blanco;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $secundario;
    }
}

.barra-de-busqueda {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin: 2rem 0;

    input {
        border-radius: 1rem;
        border: 1px solid $grisOscuro;

        &::placeholder {
            padding-left: 1rem;
        }
    }
}

.table {

    .table__th {
        display: flex;
        gap: 1rem;
        font-size: 1.6rem;
        align-items: center;
    }

    .table__th.th-eliminar,
    .table__th.th-actualizar {
        display: flex;
        justify-content: center;
    }
}

.boton-td {
    margin: 0 auto;
    text-align: center;
}

.fa-trash,
.fa-rotate-right {
    font-size: 3rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.fa-trash {
    color: $eliminar;

    &:hover {
        color: $eliminarOscuro;
    }
}

.fa-rotate-right {
    color: $secundario;

    &:hover {
        color: $secundarioOscuro;
    }
}

.total-cartera {
    display: flex;
    justify-content: end;

    .total-cartera__texto {
        border: 1px solid $secundario;
        border-radius: 1rem;
        padding: .5rem 2rem;

    }
}

.fa-solid {
    cursor: pointer;
}