@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rubik:wght@300;400;700&display=swap');

$fuentePrincipal: 'Rubik', sans-serif;
$fuenteSecundaria: 'Montserrat', sans-serif;

$primario: #FADF7F;
$primarioOscuro: #D9B26F;
$secundario: #009FB7;
$secundarioOscuro: #1F363D;
$auxiliar: #D4ADCF;
$blanco: #ffffff;
$negro: #000000;
$gris: #b1adad;
$grisOscuro: #3d3d3d;